<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'article' } %>
<%= render 'partial/header.site.html.erb' %>

<div class="content site">

  <section class="search">
    <div class="left">
      <h2>What are you looking for?</h2>
    </div>
    <form class="right">
      <ul class="select">
        <li class="option">Category</li>
        <li class="option">Category</li>
        <li class="option">Category</li>
        <li class="option">Category</li>
        <li class="option">Category</li>
      </ul>
      <ul class="select">
        <li class="option">Search</li>
      </ul>
    </form>

</div>

<%= render 'partial/footer.site.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
