<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'contact' } %>
<%= render 'partial/header.site.html.erb' %>

  <div class="contact-map">
    <iframe width="100%" height="700" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Sveav%C3%A4gen+21++111+34+Stockholm&amp;aq=&amp;sll=35.6909,139.70016&amp;sspn=0.030603,0.055747&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Sveav%C3%A4gen+21,+111+34+Stockholm,+Sweden&amp;ll=59.333189,18.061523&amp;spn=8.982391,2.175293&amp;z=6&amp;iwloc=A&amp;output=embed"></iframe>
  </div>
  <div class="contact-boxes">
    <div class="box">
      <header>
        <h2>Call (9am - 5pm)</h2>
      </header>
      <div class="content">
        <a href="tel:+46 8 519 779 00">+46 8 519 779 00</a>
      </div>
    </div>
    <div class="box">
      <header>
        <h2>Email</h2>
      </header>
      <div class="content">
        <a href="mail:info@scrive.com">info@scrive.com</a>
      </div>
    </div>
    <div class="box">
      <header>
        <h2>Address</h2>
      </header>
      <div class="content">
        <ul>
          <li>Sveavägen 21<li> 
          <li>111 34 Stockholm</li>
        </ul>
      </div>
    </div>
  </div>

<%= render 'partial/footer.site.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
