<table>
  <tbody>
    <tr>
      <th class="label">Features</th>
      <th>
        <p class="bold">Capture identification</p>
        <p>For identifying signing parties</p>
      </th>
      <th>
        <p class="bold">Digital signature</p>
        <p>For a tamper proof legal document</p>
      </th>
      <th>
        <p class="bold">Source code stamping</p>
        <p>For provable signing environment</p>
      </th>
      <th>
        <p class="bold">Time drift accuracy</p>
        <p>For strong time accuracy of digital signature</p>
      </th>
      <th>
        <p class="bold">Verification page</p>
        <p>For comprehensive legal documentation</p>
      </th>
      <th>
        <p class="bold">Evidence documentation</p>
        <p>For document self-documentation</p>
      </th>
      <th>
        <p class="bold">Evidence log</p>
        <p>For extensive legal documentation</p>
      </th>
      <th>
        <p class="bold">Digital signature documentation</p>
        <p>For independently provable digital signature</p>
      </th>
    </tr>
    <tr>
      <td>Importance</td>
      <td class="must-have" colspan="3">Must have</td>
      <td class="should-have" colspan="3">Should have</td>
      <td class="good-have" colspan="2">Good to have</td>
    </tr>
    <tr>
      <td>Potential legal consequences if lacking feature</td>
      <td>Cannot verify identity by using the document only</td>
      <td>Cannot prove integrity of the document</td>
      <td>Cannot prove intention to sign</td>
      <td>Cannot prove time of transaction</td>
      <td>Harder to verify identity and intention to sign by using the doc only</td>
      <td>Harder to use doc info as proof without the e-sign company&rsquo;s documentation</td>
      <td>Harder to verify identity and intention to sign by using the doc only</td>
      <td>Cannot prove integrity independently of digital signature provider software</td>
    </tr>
    <tr>
      <td>Paper</td>
      <td class="green text">Fingerprints and signature fit for graphological analysis</td>
      <td class="green text">Paper is tamper proof by nature</td>
      <td class="green text">Paper doesn't change</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td>Signed and scanned PDF</td>
      <td class="orange">Only email. No finger prints. Signature has lost useful qualities for identity analysis.</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td>N/A</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td>N/A</td>
    </tr>
    <tr>
      <td class="label">Swedish Competition</td>
      <td class="orange">Only qualified signatures, not useful to all the population (e-legitimation)</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="green">&#x2714;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
    </tr>
    <tr>
      <td class="label">International Competition</td>
      <td class="orange">Only simple and advanced signatures, not possible for stricter use cases (email, fax, tele etc)</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="green">&#x2714;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
      <td class="red">&#x2718;</td>
    </tr>
    <tr>
      <td>Scrive</td>
      <td class="green text">Qualified and advanced signatures</td>
      <td class="green">Q</td>
      <td class="green">U</td>
      <td class="green">A</td>
      <td class="green">L</td>
      <td class="green">I</td>
      <td class="green">T</td>
      <td class="green">Y</td>
    </tr>
  </tbody>
</table>
