<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'pricing' } %>
<%= render 'partial/header.site.html.erb' %>

<div class="content site">

<section>

<header>
  <h1 class="big">Sign up for the most trusted e-signing solution in Sweden.</h1>
  <h2 class="big">Choose a plan that will fit your needs.</h2>
</header>

<div class="plan solo">
  <div class="title">
    <h2>Solo</h2>
    <p>Comes with a 14-day money back guarantee.</p>
  </div>
  <div class="cost">
    <span class="price">299<span class="unit">kr</span></span>
    <p>per month</p>
  </div>
  <div class="features">
    <ul>
      <li>(Placeholder)
      <li><a href="article.html">More &rsaquo;</a></li>
    </ul>
  </div>
  <div class="action">
    <a href="#" class="button button-blue">Sign Up</a>
  </div>
</div>

<div class="plan team">
  <div class="title">
    <h2>Team</h2>
    <p>For sales and administrative teams.</p>
  </div>
  <div class="cost">
    <span class="price">299<span class="unit">kr</span></span>
    <p>per user per month</p>
  </div>
  <div class="features">
    <ul>
      <li>Distance signing</li>
      <li>Pad signing</li>
      <li>Your logo and colors</li>
      <li>Document tracking</li>
      <li>Open HTTP API</li>
      <li>+30 premium features</li>
      <li><a href="article.html">More &rsaquo;</a></li>
    </ul>
  </div>
  <div class="action">
    <a href="#" class="button button-blue">Sign Up</a>
  </div>
</div>

<div class="plan online-forms">
  <div class="title">
    <h2>Online Forms</h2>
    <p>Signable forms integrated into your webpage.</p>
  </div>
  <div class="cost">
    <span class="price">1.000<span class="unit">kr</span></span>
    <p>per month <span class="amp">&amp;</span> 25kr / doc</p>
  </div>
  <div class="features">
    <ul>
      <li>Developer support</li>
      <li>Open HTTP API</li>
      <li>Documentation</li>
      <li>Example code</li>
      <li><a href="article.html">More &rsaquo;</a></li>
    </ul>
  </div>
  <div class="action">
    <a href="#" class="button button-blue">Contact</a>
  </div>
</div>

<div class="plan enterprise">
  <div class="title">
    <h2>Enterprise</h2>
    <p>Consultation and tailored solutions</p>
  </div>
  <div class="cost">
    <span class="price">&ndash;</span>
    <p>get a quote</p> 
  </div>
  <div class="features">
    <ul>
      <li>Everything from the <strong>Team</strong> and <strong>Online Forms plans</strong></li>
      <li>On-premise solution</li>
      <li>Tailored solution</li>
      <li>Project management code</li>
      <li><a href="article.html">More &rsaquo;</a></li>
    </ul>
  </div>
  <div class="action">
    <a href="#" class="button button-blue">Contact</a>
  </div>
</div>

</section>
</div>
<%= render 'partial/footer.site.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
