<%= render 'partial/header.html.html.erb', :locals => { :body_class => 'pricing2' } %>
<%= render 'partial/header.site.html.erb' %>

<div class="content site">

<section>

<header>
  <h1>Sign up for the most trusted e-signing solution in Sweden.</h1>
  <h2>Choose a plan that will fit your needs.</h2>
</header>

<table class="plans">
  <thead>
    <tr>
      <th class="title">Plan</th>
      <th class="features">Features</th>
      <th class="cost">Monthly Cost</th>
      <th class="action"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="title">
        <h2>Solo</h2>
        <p>Comes with a 14-day money back guarantee.</p>
      </td>
      <td class="features">
        <ul>
          <li>(Placeholder)
        </ul>
      </td>
      <td class="cost">
        <span class="price">299<span class="unit">kr</span>
      </td>
      <td class="action">
        <a href="#" class="button button-blue">Sign Up</a>
      </td>
    </tr>

    <tr class="team">
      <td class="title">
        <h2>Team</h2>
        <p>For sales and administrative teams.</p>
      </td>
      <td class="features">
        <ul>
          <li>Distance signing</li>
          <li>Pad signing</li>
          <li>Your logo and colors</li>
          <li>Document tracking</li>
          <li>Open HTTP API</li>
          <li>+30 premium features</li>
          <li><a href="article.html">More &rsaquo;</a></li>
        </ul>
      </td>
      <td class="cost">
        <span class="price">299<span class="unit">kr</span></span>
        <span class="label">per user</span>
      </td>
      <td class="action">
        <a href="#" class="button button-blue">Sign Up</a>
      </td>
    </tr>

    <tr>
      <td class="title">
        <h2>Online Forms</h2>
        <p>Signable forms integrated into your webpage.</p>
      </td>
      <td class="features">
        <ul>
          <li>Developer support</li>
          <li>Open HTTP API</li>
          <li>Documentation</li>
          <li>Example code</li>
          <li><a href="article.html">More &rsaquo;</a></li>
        </ul>
      </td>
      <td class="cost">
        <span class="price">1.000<span class="unit">kr</span></span>
        <span class="label"><span class="amp">&amp;</span> 25kr/doc</span>
      </td>
      <td class="action">
        <a href="#" class="button button-blue">Contact</a>
      </td>
    </tr>
    <tr>
      <td class="title">
        <h2>Enterprise</h2>
        <p>Consultation and tailored solutions</p>
      </td>
      <td class="features">
        <ul>
          <li>Everything from the <strong>Team</strong> and <strong>Online Forms plans</strong></li>
          <li>On-premise solution</li>
          <li>Tailored solution</li>
          <li>Project management code</li>
          <li><a href="article.html">More &rsaquo;</a></li>
        </ul>
      </td>
      <td class="cost">
        <span class="price">Quote</span>
      </td>
      <td class="action">
        <a href="#" class="button button-blue">Contact</a>
      </td>
    </tr>
  </tbody>
</table>

</section>
</div>
<%= render 'partial/footer.site.html.erb' %>
<%= render 'partial/footer.html.html.erb' %>
