*
  box-sizing border-box

.clearfix
  clearfix()

.right
  float right

.left
  float left

.affix
  position fixed
  top 100px

.affix-bottom
  bottom 388px

body
  background #fff

  .wrapper
    width 1120px
    padding 100px 80px 0
    margin 0 auto

  &.about
    background #f2f2f2 url(../img/bg-texture.png)

    .wrapper
      background #fff
      width 1122px
      border-left 1px solid #ddd
      border-right 1px solid #ddd

.container
  width 960px
  margin 0 auto
  clearfix()
      
.img
  background #eee
  text-align center
  color #bbb
