header.site
  height 120px
  position relative
  border-bottom 1px solid blue-border

  #branding
    width 320px
    float left
    clearfix()
    #logo
      d block
      float left
      margin 40px 10px
      width 160px
      height 40px

    #tagline
      float left
      margin-top 44px
      line-height 1.6em
      margin-left -20px
      font-weight normal

  .navigation
    width 640px
    float left

  nav, menu
    float right
    margin-top 44px
    margin-right 10px

  nav
    ul
      li
        float left
        padding .1em .5em
        a
          display block
          font-family source
          font-size 1.25em
          line-height 1.4em
          border-bottom 2px solid transparent
          &:hover
            border-bottom-color anchor

body.index, body.use-cases, body.learn-more
  header.site
    .nav
      display none
