header.site
  position fixed
  top 0
  left 50%
  width 1120px
  margin-left -560px
  z-index 999999
  background #fff
  border-top 4px solid #fff

  nav
    position relative
    border-top 1px solid #ccc
    height 98px
    border-bottom 1px solid #ddd
    ul
      clearfix()
      height 6em
      width 960px
      position relative
      margin 0 auto
      li
        float left
        width 92px
        border-right 1px solid #ddd
        height 3em
        margin-top 1.5em
        a
          display block
          font 1em/6 source
          text-align center
          color dim
          text-shadow #fff 0 1px 0
          height 6*16px + 4px
          margin-top -29px
          border-top 5px solid transparent
          &:hover
            border-top-color blue-medium

        &.login
          width 88px
          border-right none

        &#branding
          clearfix()
          width 320px

          #logo
            display block
            float left
            width 320px
            text-align left
            img
              margin 37px 1em

          #tagline
            float left
            margin-top 12px
            margin-left -170px
            font-weight normal
            display none
            font-size 1em


body.features #page-features
body.pricing #page-pricing
body.legal #page-legal
body.cases #page-cases
body.about #page-about
body.contact #page-contact
  color red
  font-weight bold
  border-top-color red

body.index
  header.site 
    li
      display none
      &#branding
        display block
        width 872px
        #tagline
          display block
      &.login
        display block
