header.site
  position fixed
  top 0
  left 0
  width 100%
  z-index 999999
  background #fff
  box-shadow b40 0 0 .4em
  border-top 4px solid m243

  nav
    background linear-gradient(top, m252, m243)
    position relative
    border-top 1px solid #aaa
    ul
      clearfix()
      height 4em
      width 960px
      margin 0 auto
      position relative
      li
        float left
        width 92px
        border-right 1px solid #ddd
        a
          display block
          font 1em/4 source
          text-align center
          color dim
          text-shadow #fff 0 1px 0
          height 68px
          margin-top -5px
          border-top 5px solid transparent
          &:hover
            border-top-color blue-dark

        &.login
          width 88px
          border-right none

        &.loginx
          padding .8em .5em

          a.button-embed
            margin 0
            border none
            font 1em/2.4 source
            height 2.4em
            padding 0 .5em
            border 1px solid #ddd
            border-radius 5px
            background linear-gradient(top, hsl(215,30,50), blue-dark)
            box-shadow #fff 0 1px 0px
            color #fff
            text-shadow b30 0 1px 0


        &#branding
          clearfix()
          width 320px

          #logo
            display block
            float left
            width 320px
            text-align left
            img
              margin 21px 1em

          #tagline
            float left
            margin-top 24px
            line-height 1.6em
            margin-left -20px
            font-weight normal
            display none


body.features #page-features
body.pricing #page-pricing
body.article #page-features
body.about #page-about
body.cases #page-cases
  background linear-gradient(top, m255, m243)
  color txt
  border-top-color blue-dark

body.index
  header.site 
    li
      display none
      &#branding
        display block
        width 872px
      &.login
        display block
