<a class="video w640" href="#">
  <div class="video img" style="backgroundREMOVE: url(img/video.jpg);">
    <div class="play"><span>&#9654;</span></div>
  </div>
  <% if defined? title %>
  <div class="description">
    <span class="title bold"><%= title %></span>
    <span class="duration">(0:25)</span>
  </div>
  <% end %>
</a>
