<a class="media case" href="article.html">
  <div class="img">Case</div>
  <div class="content">
    <h3><%= title rescue '' %></h3>
    <div class="body">Scrive är en tjänst för att e-signera offerter, avtal och andra typer av dokument. Vi hjälper våra kunder att stänga affärer snabbare, minska den administrativa bördan och samtidigt förbättra.
      <span class="read-more">Read more &rsaquo;</span>
    </div>
  </div>
</a>
