<a class="video" href="#">
  <div class="video w640 img" style="backgroundREMOVE: url(img/video.jpg);">
    <div class="play"><span>&#9654;</span></div>
  </div>
  <div class="description">
    <span class="title bold"><%= title rescue '' %></span>
    <span class="duration">(0:25)</span>
  </div>
</a>
