<a class="media feature" href="article.html">
  <img class="icon" src="#" width="120" height="120">
  <div class="content">
    <h3><%= title rescue '' %></h3>
    <div class="body">
      <p>Our service is made to serve you. We have a team that is working</p>
      <span class="read-more">Read more &rsaquo;</span>
    </div>
  </div>
</a>
