<a class="media feature" href="article.html">
  <div class="img">Feature</div>
  <div class="content">
    <h3><%= title rescue '' %></h3>
    <div class="body">
      To our knowledge there is no company in the world, except Scrive, that achieves the same level of legal quality of the final document.
      <span class="read-more">Read more &rsaquo;</span>
    </div>
  </div>
</a>
