<div class="model website <%= size rescue '' %>">
  <div class="toolbars">
    <ul class="window-manip">
      <li class="red"></li>
      <li class="yellow"></li>
      <li class="green"></li>
    </ul>
    <ul class="browser-buttons">
      <li class="browser-button back-forward"></li>
      <li class="browser-button"></li>
      <li class="browser-button"></li>
      <li class="address">http://www.yoursite.com</li>
      <li class="browser-button"></li>
    </ul>
  </div>
  <div class="view">
  </div>
</div>
