#learn-more
  border-bottom 1px solid blue-border
  height 120px
  padding 36px 0
  text-align center
  .container
    width 556px
    height 40px
    
  span, ul
    display inline-block

  span.h2
    display block
    float left
    w 340px
    line-height 40px

  ul.select
    float left
    margin 4px 0 4px 1em
    text-align left
