html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}
.error::-webkit-input-placeholder {
  color: #f00;
}
.error:-moz-placeholder {
  color: #f00;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.button {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #dcdcdc));
  background: -webkit-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 0 5px, inset #fff 0 0 5px;
  box-shadow: rgba(0,0,0,0.07) 0 0 5px, inset #fff 0 0 5px;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 1em/2 Source Sans Pro;
  color: #555;
  text-align: center;
  text-shadow: #fff 0 1px 0;
}
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e6e6e6));
  background: -webkit-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  color: #555;
}
.button.button-blue {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5979a6), color-stop(1, #364963));
  background: -webkit-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: -moz-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: -o-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: -ms-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: linear-gradient(top, #5979a6 0%, #364963 100%);
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 0 5px;
  box-shadow: rgba(0,0,0,0.07) 0 0 5px;
  color: #fff;
  text-shadow: rgba(0,0,0,0.3) 0 1px 0;
  border: 1px solid #364963;
}
.button.button-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5979a6), color-stop(1, #476185));
  background: -webkit-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: -moz-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: -o-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: -ms-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: linear-gradient(top, #5979a6 0%, #476185 100%);
}
body {
  display: block;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.use-cases {
  background: #eef2f5;
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
.use-cases h1,
.use-cases h2 {
  text-align: center;
}
.use-cases h2 {
  padding-bottom: 1.5em;
}
.use-cases nav ul {
  zoom: 1;
}
.use-cases nav ul:before,
.use-cases nav ul:after {
  content: "";
  display: table;
}
.use-cases nav ul:after {
  clear: both;
}
.use-cases nav ul li {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
}
.use-cases nav ul li a {
  display: block;
  position: relative;
  -webkit-transition: 0.15s ease-in-out all;
  -moz-transition: 0.15s ease-in-out all;
  -o()-transition: 0.15s ease-in-out all;
  -ms-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all;
}
.use-cases nav ul li a:after {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  margin: -60px 0 0 -30px;
  top: 50%;
  left: 50%;
  background: #364963;
  content: 'Go \203A';
  text-align: center;
  font: 1em/60px Source Sans Pro;
  color: #fff;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: 0.15s ease-in-out opacity;
  -moz-transition: 0.15s ease-in-out opacity;
  -o()-transition: 0.15s ease-in-out opacity;
  -ms-transition: 0.15s ease-in-out opacity;
  transition: 0.15s ease-in-out opacity;
}
.use-cases nav ul li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o()-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.use-cases nav ul li a:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.use-cases nav ul li a h3 {
  text-align: center;
  line-height: 3em;
}
.model.ipad {
  height: 240px;
  width: 180px;
  margin: 0 70px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.model.ipad .screen {
  margin: 24px;
  height: 192px;
  width: 132px;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.model.ipad .camera {
  position: absolute;
  top: 10px;
  left: 88px;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #999;
}
.model.ipad .home {
  position: absolute;
  bottom: 5px;
  left: 84px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset rgba(0,0,0,0.07) 1px 1px 3px;
  box-shadow: inset rgba(0,0,0,0.07) 1px 1px 3px;
  border: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.model.ipad .home .circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.model.mbp {
  height: 210px;
  width: 330px;
  margin: 30px -5px 0;
  position: relative;
}
.model.mbp .lid {
  margin: 0 27px 0;
  height: 185px;
  width: 276px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: none;
}
.model.mbp .lid .screen {
  margin: 12px;
  height: 161px;
  width: 250px;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.model.mbp .base {
  margin-top: -2px;
  width: 330px;
  height: 6px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.model.mbp .bottom {
  width: 330px;
  height: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.model.website {
  margin: 0 70px;
  height: 240px;
  width: 180px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.model.website .toolbars {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #b9b8b8));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -moz-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #909090;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  height: 20px;
  width: 178px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.model.website .toolbars ul.window-manip {
  height: 5px;
  margin-left: 2px;
}
.model.website .toolbars ul.window-manip li {
  width: 5px;
  height: 5px;
  float: left;
  margin-right: 2px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(0,0,0,0.75) 0 0 1px;
  box-shadow: inset rgba(0,0,0,0.75) 0 0 1px;
}
.model.website .toolbars ul.window-manip li.red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbcfca), color-stop(0.33333333333333326, #fa5a55), color-stop(1, #e0b2b1));
  background: -webkit-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -moz-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -o-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -ms-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
}
.model.website .toolbars ul.window-manip li.yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcf6cd), color-stop(0.33333333333333326, #f8c669), color-stop(1, #f4e8b4));
  background: -webkit-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -moz-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -o-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -ms-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
}
.model.website .toolbars ul.window-manip li.green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eef9dc), color-stop(0.33333333333333326, #9dd478), color-stop(1, #d0dbb6));
  background: -webkit-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -moz-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -o-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -ms-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
}
.model.website .toolbars ul.browser-buttons {
  zoom: 1;
  height: 12px;
  margin-left: 2px;
  margin-top: 2px;
}
.model.website .toolbars ul.browser-buttons:before,
.model.website .toolbars ul.browser-buttons:after {
  content: "";
  display: table;
}
.model.website .toolbars ul.browser-buttons:after {
  clear: both;
}
.model.website .toolbars ul.browser-buttons li {
  float: left;
  margin-right: 2px;
  height: 10px;
}
.model.website .toolbars ul.browser-buttons li.browser-button {
  -webkit-box-shadow: inset #646464 0 0 2px;
  box-shadow: inset #646464 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #c3c3c3));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -moz-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 10px;
}
.model.website .toolbars ul.browser-buttons li.back-forward {
  width: 20px;
  position: relative;
}
.model.website .toolbars ul.browser-buttons li.back-forward:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 10px;
  height: 8px;
  width: 1px;
  background: rgba(0,0,0,0.15);
}
.model.website .toolbars ul.browser-buttons li.address {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fff;
  width: 115px;
  padding: 0 3px;
  font: 7px/10px Verdana, sans-serif;
  color: #333;
  -webkit-box-shadow: inset rgba(0,0,0,0.27) 1px 1px 1px;
  box-shadow: inset rgba(0,0,0,0.27) 1px 1px 1px;
}
.model.website .view {
  background: #fff;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  height: 218px;
  width: 178px;
}
header.site {
  height: 120px;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 0 0.5em;
  box-shadow: rgba(0,0,0,0.07) 0 0 0.5em;
}
a#logo {
  display: block;
  float: left;
  margin: 40px 10px;
  width: 160px;
  height: 40px;
}
#tagline {
  float: left;
  margin-top: 46px;
  margin-left: -20px;
  font-weight: normal;
}
header.site nav {
  display: none;
}
header.site menu {
  margin-top: 44px;
  margin-right: 10px;
}
footer.site ul.call-to-action {
  width: 300px;
  margin: 3em auto;
}
footer.site ul.call-to-action li {
  display: inline-block;
  line-height: 2em;
}
footer.site ul.call-to-action li.or {
  padding: 0 0.5em;
}
footer.site ul.call-to-action li a.button {
  width: 160px;
}
footer.site ul.call-to-action li a.learn-more {
  font-family: Source Sans Pro;
}
footer.site ul.call-to-action li a.learn-more:hover {
  text-decoration: underline;
}
body {
  font: 16px/1.5 Helvetica Neue, Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #44aed5;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Source Sans Pro, sans-serif;
  color: #364963;
}
h1,
.h1 {
  font-weight: normal;
  font-size: 3em;
  letter-spacing: -2px;
}
h2,
.h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  color: #7a94b8;
}
h3,
.h3 {
  font-size: 1.25em;
  letter-spacing: -1px;
}
