html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}
.error::-webkit-input-placeholder {
  color: #f00;
}
.error:-moz-placeholder {
  color: #f00;
}
.button {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #dcdcdc));
  background: -webkit-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  background: linear-gradient(top, #fafafa 0%, #dcdcdc 100%);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 0 5px, inset #fff 0 0 5px;
  box-shadow: rgba(0,0,0,0.07) 0 0 5px, inset #fff 0 0 5px;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 1em/2 Source Sans Pro;
  color: #555;
  text-align: center;
  text-shadow: #fff 0 1px 0;
}
.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e6e6e6));
  background: -webkit-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: -o-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: -ms-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  background: linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
  color: #555;
}
.button.button-blue {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5979a6), color-stop(1, #364963));
  background: -webkit-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: -moz-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: -o-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: -ms-linear-gradient(top, #5979a6 0%, #364963 100%);
  background: linear-gradient(top, #5979a6 0%, #364963 100%);
  -webkit-box-shadow: rgba(0,0,0,0.07) 0 0 5px;
  box-shadow: rgba(0,0,0,0.07) 0 0 5px;
  color: #fff;
  text-shadow: rgba(0,0,0,0.3) 0 1px 0;
  border: 1px solid #364963;
}
.button.button-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5979a6), color-stop(1, #476185));
  background: -webkit-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: -moz-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: -o-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: -ms-linear-gradient(top, #5979a6 0%, #476185 100%);
  background: linear-gradient(top, #5979a6 0%, #476185 100%);
}
.model.ipad {
  height: 240px;
  width: 180px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.model.ipad .screen {
  margin: 24px;
  height: 192px;
  width: 132px;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.model.ipad .camera {
  position: absolute;
  top: 10px;
  left: 88px;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #999;
}
.model.ipad .home {
  position: absolute;
  bottom: 5px;
  left: 84px;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset rgba(0,0,0,0.07) 1px 1px 3px;
  box-shadow: inset rgba(0,0,0,0.07) 1px 1px 3px;
  border: 1px solid #ddd;
}
.model.ipad .home .circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  border: 1px solid #ccc;
}
.model.ipad.large {
  height: 480px;
  width: 360px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: relative;
}
.model.ipad.large .screen {
  margin: 48px;
  height: 384px;
  width: 264px;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.model.ipad.large .camera {
  position: absolute;
  top: 21px;
  left: 179px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ccc;
}
.model.ipad.large .home {
  position: absolute;
  bottom: 10px;
  left: 168px;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: inset rgba(0,0,0,0.07) 2px 2px 6px;
  box-shadow: inset rgba(0,0,0,0.07) 2px 2px 6px;
  border: 1px solid #ddd;
}
.model.ipad.large .home .circle {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.model.mbp {
  height: 210px;
  width: 340px;
  position: relative;
}
.model.mbp .lid {
  margin: 0 32px;
  height: 185px;
  width: 276px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border-bottom: none;
}
.model.mbp .lid .screen {
  margin: 12px;
  height: 161px;
  width: 250px;
  background: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.model.mbp .base,
.model.mbp .bottom {
  width: 100%;
}
.model.mbp .base {
  margin-top: -2px;
  height: 6px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
.model.mbp .bottom {
  height: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-border-radius: 0 0 12px 12px;
  border-radius: 0 0 12px 12px;
}
.model.mbp.large {
  height: 420px;
  width: 440px;
  position: relative;
}
.model.mbp.large .lid {
  margin-left: 64px;
  height: 370px;
  width: 376px;
  background: #fff;
  -webkit-border-radius: 22px 0px 0px 22px;
  border-radius: 22px 0px 0px 22px;
  border: 1px solid #ccc;
  border-right: none;
}
.model.mbp.large .lid .screen {
  margin: 24px 0px 24px 24px;
  height: 322px;
  width: 351px;
  background: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-right: none;
}
.model.mbp.large .base,
.model.mbp.large .bottom {
  width: 100%;
}
.model.mbp.large .base {
  margin-top: -2px;
  height: 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
  border-right: none;
}
.model.mbp.large .bottom {
  height: 8px;
  background: #fff;
  -webkit-border-radius: 0 0 0 24px;
  border-radius: 0 0 0 24px;
  border: 1px solid #ccc;
  border-top: none;
  border-right: none;
}
.model.website {
  height: 240px;
  width: 180px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
.model.website .toolbars {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #b9b8b8));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -moz-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #909090;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  height: 20px;
  width: 178px;
  position: relative;
}
.model.website .toolbars ul.window-manip {
  height: 5px;
  margin-left: 2px;
}
.model.website .toolbars ul.window-manip li {
  width: 5px;
  height: 5px;
  float: left;
  margin-right: 2px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset rgba(0,0,0,0.75) 0 0 1px;
  box-shadow: inset rgba(0,0,0,0.75) 0 0 1px;
}
.model.website .toolbars ul.window-manip li.red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbcfca), color-stop(0.33333333333333326, #fa5a55), color-stop(1, #e0b2b1));
  background: -webkit-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -moz-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -o-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -ms-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
}
.model.website .toolbars ul.window-manip li.yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcf6cd), color-stop(0.33333333333333326, #f8c669), color-stop(1, #f4e8b4));
  background: -webkit-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -moz-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -o-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -ms-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
}
.model.website .toolbars ul.window-manip li.green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eef9dc), color-stop(0.33333333333333326, #9dd478), color-stop(1, #d0dbb6));
  background: -webkit-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -moz-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -o-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -ms-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
}
.model.website .toolbars ul.browser-buttons {
  zoom: 1;
  height: 12px;
  margin-left: 2px;
  margin-top: 2px;
}
.model.website .toolbars ul.browser-buttons:before,
.model.website .toolbars ul.browser-buttons:after {
  content: "";
  display: table;
}
.model.website .toolbars ul.browser-buttons:after {
  clear: both;
}
.model.website .toolbars ul.browser-buttons li {
  float: left;
  margin-right: 2px;
  height: 10px;
}
.model.website .toolbars ul.browser-buttons li.browser-button {
  -webkit-box-shadow: inset #646464 0 0 2px;
  box-shadow: inset #646464 0 0 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #c3c3c3));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -moz-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  width: 10px;
}
.model.website .toolbars ul.browser-buttons li.back-forward {
  width: 20px;
  position: relative;
}
.model.website .toolbars ul.browser-buttons li.back-forward:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 10px;
  height: 8px;
  width: 1px;
  background: rgba(0,0,0,0.15);
}
.model.website .toolbars ul.browser-buttons li.address {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fff;
  width: 115px;
  padding: 0 3px;
  font: 7px/10px Verdana, sans-serif;
  color: #333;
  -webkit-box-shadow: inset rgba(0,0,0,0.27) 1px 1px 1px;
  box-shadow: inset rgba(0,0,0,0.27) 1px 1px 1px;
}
.model.website .view {
  background: #fff;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  height: 218px;
  width: 178px;
}
.model.website.large {
  height: 480px;
  width: 360px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.model.website.large .toolbars {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ebebeb), color-stop(1, #b9b8b8));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -moz-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  background: linear-gradient(top, #ebebeb 0%, #b9b8b8 100%);
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #909090;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  height: 38px;
  width: 358px;
  position: relative;
}
.model.website.large .toolbars ul.window-manip {
  height: 10px;
  margin-left: 3px;
  margin-top: 2px;
}
.model.website.large .toolbars ul.window-manip li {
  width: 9px;
  height: 9px;
  float: left;
  margin-right: 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset #000 0 0 3px;
  box-shadow: inset #000 0 0 3px;
}
.model.website.large .toolbars ul.window-manip li.red {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbcfca), color-stop(0.33333333333333326, #fa5a55), color-stop(1, #e0b2b1));
  background: -webkit-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -moz-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -o-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: -ms-linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
  background: linear-gradient(top, #fbcfca 0%, #fa5a55 33.33333333333333%, #e0b2b1 100%);
}
.model.website.large .toolbars ul.window-manip li.yellow {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fcf6cd), color-stop(0.33333333333333326, #f8c669), color-stop(1, #f4e8b4));
  background: -webkit-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -moz-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -o-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: -ms-linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
  background: linear-gradient(top, #fcf6cd 0%, #f8c669 33.33333333333333%, #f4e8b4 100%);
}
.model.website.large .toolbars ul.window-manip li.green {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eef9dc), color-stop(0.33333333333333326, #9dd478), color-stop(1, #d0dbb6));
  background: -webkit-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -moz-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -o-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: -ms-linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
  background: linear-gradient(top, #eef9dc 0%, #9dd478 33.33333333333333%, #d0dbb6 100%);
}
.model.website.large .toolbars ul.browser-buttons {
  zoom: 1;
  height: 24px;
  margin-left: 4px;
  margin-top: 3px;
}
.model.website.large .toolbars ul.browser-buttons:before,
.model.website.large .toolbars ul.browser-buttons:after {
  content: "";
  display: table;
}
.model.website.large .toolbars ul.browser-buttons:after {
  clear: both;
}
.model.website.large .toolbars ul.browser-buttons li {
  float: left;
  margin-right: 4px;
  height: 16px;
}
.model.website.large .toolbars ul.browser-buttons li.browser-button {
  -webkit-box-shadow: inset #bbb 0 0 3px;
  box-shadow: inset #bbb 0 0 3px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #c3c3c3));
  background: -webkit-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -moz-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -o-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: -ms-linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  background: linear-gradient(top, #f5f5f5 0%, #c3c3c3 100%);
  width: 16px;
  border: 1px solid #939393;
  -webkit-box-shadow: rgba(255,255,255,0.35) 0 1px 0;
  box-shadow: rgba(255,255,255,0.35) 0 1px 0;
}
.model.website.large .toolbars ul.browser-buttons li.back-forward {
  width: 33px;
  position: relative;
}
.model.website.large .toolbars ul.browser-buttons li.back-forward:after {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 15px;
  height: 12px;
  width: 1px;
  background: rgba(0,0,0,0.2);
}
.model.website.large .toolbars ul.browser-buttons li.address {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  width: 252px;
  padding: 0 6px;
  font: 10px/16px Verdana, sans-serif;
  color: #333;
  -webkit-box-shadow: inset rgba(0,0,0,0.27) 1px 1px 1px;
  box-shadow: inset rgba(0,0,0,0.27) 1px 1px 1px;
}
.model.website.large .view {
  background: #fff;
  -webkit-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
  height: 438px;
  width: 358px;
}
body {
  font: 16px/1.5 Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: #44aed5;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Source Sans Pro, sans-serif;
  color: #364963;
}
h1,
.h1 {
  font-weight: normal;
  font-size: 3em;
  letter-spacing: -1px;
}
h2,
.h2 {
  font-size: 1.5em;
  color: #7a94b8;
}
h3,
.h3 {
  font-size: 1.25em;
}
h4,
.h4 {
  font: 16px/1.5 Helvetica Neue, Arial, Helvetica, sans-serif;
}
q:before,
q:after {
  content: "";
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.right {
  float: right;
}
.left {
  float: left;
}
body {
  display: block;
}
.container {
  width: 960px;
  margin: 0 auto;
}
header.site {
  height: 120px;
  position: relative;
  border-bottom: 1px solid #dee4ed;
}
a#logo {
  display: block;
  float: left;
  margin: 40px 10px;
  width: 160px;
  height: 40px;
}
#tagline {
  float: left;
  margin-top: 46px;
  margin-left: -20px;
  font-weight: normal;
}
header.site nav {
  display: none;
}
header.site menu {
  margin-top: 44px;
  margin-right: 10px;
}
footer.site ul.call-to-action {
  width: 300px;
  margin: 3em auto;
}
footer.site ul.call-to-action li {
  display: inline-block;
  line-height: 2em;
}
footer.site ul.call-to-action li.or {
  padding: 0 0.5em;
}
footer.site ul.call-to-action li a.button {
  width: 160px;
}
footer.site ul.call-to-action li a.learn-more {
  font-family: Source Sans Pro;
}
footer.site ul.call-to-action li a.learn-more:hover {
  text-decoration: underline;
}
.use-cases .panel {
  padding: 3em 0;
  border-bottom: 1px solid #dee4ed;
}
.use-cases .panel h1,
.use-cases .panel h2 {
  text-align: center;
}
.use-cases .panel h2 {
  margin-bottom: 1.5em;
}
.use-cases .panel.nav nav ul {
  zoom: 1;
}
.use-cases .panel.nav nav ul:before,
.use-cases .panel.nav nav ul:after {
  content: "";
  display: table;
}
.use-cases .panel.nav nav ul:after {
  clear: both;
}
.use-cases .panel.nav nav ul li {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 320px;
}
.use-cases .panel.nav nav ul li a {
  display: block;
  position: relative;
  -webkit-transition: 0.15s ease-in-out all;
  -moz-transition: 0.15s ease-in-out all;
  -o()-transition: 0.15s ease-in-out all;
  -ms-transition: 0.15s ease-in-out all;
  transition: 0.15s ease-in-out all;
}
.use-cases .panel.nav nav ul li a:after {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  position: absolute;
  margin: -60px 0 0 -30px;
  top: 50%;
  left: 50%;
  background: #364963;
  content: 'Go \203A';
  text-align: center;
  font: 1em/60px Source Sans Pro;
  color: #fff;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-transition: 0.15s ease-in-out opacity;
  -moz-transition: 0.15s ease-in-out opacity;
  -o()-transition: 0.15s ease-in-out opacity;
  -ms-transition: 0.15s ease-in-out opacity;
  transition: 0.15s ease-in-out opacity;
}
.use-cases .panel.nav nav ul li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o()-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.use-cases .panel.nav nav ul li a:hover:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.use-cases .panel.nav nav ul li a .model.ipad {
  margin: 0 70px;
}
.use-cases .panel.nav nav ul li a .model.mbp {
  margin: 30px -10px 0;
}
.use-cases .panel.nav nav ul li a .model.website {
  margin: 0 70px;
}
.use-cases .panel.nav nav ul li a h3 {
  text-align: center;
  line-height: 3em;
}
.use-cases .panel.tabs h1 {
  font-size: 2.5em;
}
.use-cases .panel.tabs h2 {
  margin-bottom: 3em;
}
.use-cases .panel.tabs .tab-container {
  margin-left: 1em;
  min-height: 480px;
}
.use-cases .panel.tabs .tab-container ul.tabs {
  width: 480px;
  zoom: 1;
  margin-bottom: -1px;
  z-index: 1;
  position: relative;
}
.use-cases .panel.tabs .tab-container ul.tabs:before,
.use-cases .panel.tabs .tab-container ul.tabs:after {
  content: "";
  display: table;
}
.use-cases .panel.tabs .tab-container ul.tabs:after {
  clear: both;
}
.use-cases .panel.tabs .tab-container ul.tabs li {
  float: left;
  width: 160px;
  border-left: 1px solid #dee4ed;
  background: #eef2f5;
  border-top: 4px solid #bdc9db;
  color: #888;
  font: 12px/3 Helvetica Neue, Arial, Helvetica, sans-serif;
  display: block;
  padding: 0 0.75em;
  cursor: pointer;
}
.use-cases .panel.tabs .tab-container ul.tabs li:hover {
  border-top-color: #9cafc9;
}
.use-cases .panel.tabs .tab-container ul.tabs li.active {
  border-bottom: 1px solid #fff;
  background: #fff;
  color: #364963;
  border-top: 4px solid #364963;
}
.use-cases .panel.tabs .tab-container ul.tab-content {
  position: relative;
}
.use-cases .panel.tabs .tab-container ul.tab-content > li {
  display: none;
}
.use-cases .panel.tabs .tab-container ul.tab-content > li.active {
  display: block;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol {
  padding: 0 0 1em;
  width: 480px;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li {
  border-top: 1px solid #dee4ed;
  padding: 1em 0;
  zoom: 1;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li:before,
.use-cases .panel.tabs .tab-container ul.tab-content ol li:after {
  content: "";
  display: table;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li:after {
  clear: both;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li .left p {
  font-size: 14px;
  color: #888;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.step:hover {
  background: #f8fafb;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.step:hover .num {
  color: #364963;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.step:hover .event {
  display: block;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.step .num {
  font: 2em/1.5 Source Sans Pro;
  color: #7a94b8;
  float: left;
  text-align: center;
  width: 60px;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.step .event {
  position: absolute;
  background: #000;
  z-index: 1000;
  display: none;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.step .event p {
  color: #fff;
  text-align: center;
  margin: 1em;
  text-shadow: none;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.video {
  border-bottom: none;
  padding-top: 1.25em;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.video:hover {
  background: transparent;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.video .video {
  background: #000;
  width: 120px;
  height: 90px;
  float: left;
  margin: 0 1em;
}
.use-cases .panel.tabs .tab-container ul.tab-content ol li.video .left {
  width: 304px;
}
.use-cases .panel.tabs .tab-container ul.tab-content .model {
  position: absolute;
}
.use-cases .panel.tabs .tab-container ul.tab-content .model.ipad {
  top: -40px;
  right: 50px;
}
.use-cases .panel.tabs .tab-container ul.tab-content .model.mbp {
  top: -40px;
  right: 0px;
}
.use-cases .panel.tabs .tab-container ul.tab-content .model.website {
  top: -40px;
  right: 50px;
}
.use-cases .panel.tabs .tab-container #tab-content-sign .event {
  top: 9px;
  right: 97px;
  height: 384px;
  width: 264px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.use-cases .panel.tabs .tab-container #tab-content-send .event {
  top: -14px;
  right: 0;
  height: 322px;
  width: 351px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.use-cases .panel.tabs .tab-container #tab-content-integrate .event {
  top: -1px;
  right: 51px;
  height: 440px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  width: 358px;
}
