.button
  display inline-block
  background linear-gradient(top, m250, m220)
  border-radius 5px
  border 1px solid #ccc
  box-shadow b7 0 0 5px, inset #fff 0 0 5px
  padding 0 1em
  box-sizing border-box
  font 1em/2 Source Sans Pro
  color #555
  text-align center
  text-shadow #fff 0 1px 0

  &:hover
    background linear-gradient(top, m250, m230)
    color #555

  &.button-blue
    background linear-gradient(top, hsl(215,30,50), blue-dark)
    box-shadow b7 0 0 5px
    color #fff
    text-shadow b30 0 1px 0
    border 1px solid blue-dark
    &:hover
      background linear-gradient(top, hsl(215,30,50), hsl(215,30,40))

  &.button-large
    font 1.5em/2 source
    text-shadow b50 0 2px 0
