nav.case-nav
  ul
    clearfix()
    li
      float left
      box-sizing border-box
      w 320px
      a
        display block
        position relative
        transition .15s ease-in-out all
        &:after
          width 60px
          height 60px
          border-radius 30px
          position absolute
          margin -60px 0 0 -30px
          top 50%
          left 50%
          background blue-dark
          content 'Go \203A'
          text-align center
          font 1em/60px Source Sans Pro
          color #fff
          opacity 0.00
          transition .15s ease-in-out opacity
        &:hover
          transform scale(1.1)
          &:after
            opacity 1.00
        .model.ipad
          margin 0 70px
        .model.mbp
          margin 30px -10px 0
        .model.website
          margin 0 70px

        h3, .h3
          margin-top 1.5em
          ta center

        h3
          font-size 1.5em

        .h3
          display block
          font-size 1.25em
  &.small
    > ul
      margin 1em 1em 0 0
      > li
        float left
        margin 0 0 1em 1em
        width 295px

        a
          display block
          clearfix()
          padding 2em 0
          background blue-dark
          &:after
            display none
          &:hover
            background red
            transform none
            .h3
              color #fff
          .model
            &.ipad, &.website
              margin 0 102px
            &.mbp
              margin 14px 61px 13px

          .h3
            margin-top .75em
            font 1.25em/1.5 source
            color w75
  &.tiny
    > ul
      margin 1em 1em 0 0
      > li
        float left
        width 295px
        margin 0 0 1em 1em
        a
          clearfix()
          padding 1em 0
          height 60px + 32px
          opacity .50
          border 1px solid blue-border
          &:after
            display none

          &.active
            transform none
            opacity 1
            cursor default
            border-color blue-dark
            .h3
              color blue-dark

          &:hover
            transform none
            opacity 1
            border-color blue-dark
            .h3
              color blue-dark

          &.active:hover
            border-color blue-dark
            background #fff
            .h3
              color blue-dark

          .model
            float left
            position static
            &.ipad, &.website
              margin 0 .75em 0 1em
            &.mbp
              margin 4px .75em 0 1em

          .h3
            line-height 60px
            margin 0
            float left
            color dim
