blue-dark = hsl(215,30,30)
blue-medium = hsl(215,30,60)
blue-gray = hsl(212,14,60)
blue-anchor = hsl(196,63,55)
blue-hover = hsl(196,63,64)
blue-bg = #eef2f5
blue-border = hsl(215,30,90)
anchor = blue-anchor
hover = blue-hover
txt = #333
dim = #666
light = #999
