blue-darker = hsl(215,30,23)
blue-dark = hsl(215,30,30)
blue-medium = hsl(215,30,60)
blue-gray = hsl(212,14,60)
blue-bg = #eef2f5
blue-border = hsl(215,30,90)

blue-anchor = blue-darker
blue-hover = hsl(196,63,64)
blue-icon = hsl(201,40,63)

red = hsl(340,100,53)
red-anchor = red
red-hover = hsl(340,100,63)

anchor = red
hover = red-hover

blue-anchor = blue-anchor
blue-hover = blue-hover

txt = #333
dim = #666
light = #999
