.model.ipad
  height 240px
  width 180px
  bg #fff;
  border 1px solid #ccc
  border-radius 5px
  position relative;
  .screen
    margin 24px
    height 192px
    width 132px
    bg #eee
    border 1px solid #ccc
    border-radius 2px
  .camera
    position absolute
    top 10px
    left 88px
    width 4px
    height 4px
    border-radius 2px
    bg #999
  .home
    position absolute
    bottom 5px
    left 84px
    width 12px
    height 12px
    border-radius 6px
    box-shadow inset b7 1px 1px 3px
    border 1px solid #ddd
    .circle
      position absolute
      top 2px
      left 2px
      width 6px
      height 6px
      border-radius 1px
      border 1px solid #ccc

.model.ipad.tiny
  height 60px
  width 45px
  bg #fff;
  border 1px solid #ccc
  border-radius 3px
  position relative;
  .screen
    margin 6px
    height 46px
    width 31px
    bg #eee
    border 1px solid #ccc
    border-radius 0
  .camera, .home
    display none

.model.ipad.small
  height 120px
  width 90px
  bg #fff;
  border 1px solid #ccc
  border-radius 3px
  position relative;
  .screen
    margin 12px
    height 96px
    width 66px
    bg #eee
    border 1px solid #ccc
  .camera
    position absolute
    top 5px
    left 44px
    width 2px
    height 2px
    border-radius 2px
    bg #999
  .home
    position absolute
    bottom 2px
    left 42px
    width 6px
    height 6px
    border-radius 3px
    box-shadow inset b7 1px 1px 2px
    border 1px solid #ddd
    .circle
      position absolute
      top 1px
      left 1px
      width 4px
      height 4px
      border-radius 1px
      border 1px solid #ccc

.model.ipad.large
  height 480px
  width 360px
  bg #fff;
  border 1px solid #ccc
  border-radius 10px
  position relative;
  .screen
    margin 48px
    height 384px
    width 264px
    bg #eee
    border 1px solid #ccc
    border-radius 4px
  .camera
    position absolute
    top 21px
    left 179px
    width 6px
    height 6px
    border-radius 3px
    bg #ccc
  .home
    position absolute
    bottom 10px
    left 168px
    width 24px
    height 24px
    border-radius 12px
    box-shadow inset b7 2px 2px 6px
    border 1px solid #ddd
    .circle
      position absolute
      top 6px
      left 6px
      width 10px
      height 10px
      border-radius 3px
      border 1px solid #ccc

.model.ipad.max
  height 400px
  width 600px
  bg #fff;
  border 1px solid #ccc
  border-bottom none
  border-radius 10px 10px 0 0
  position relative
  .screen
    margin 80px 80px 0
    height 320px
    width 440px
    bg #eee
    border 1px solid #ccc
    border-bottom none
    border-radius 5px 5px 0 0
  .camera
    position absolute
    top 36px
    left 296px
    width 8px
    height 8px
    border-radius 4px
    bg #ccc
  .home
    display none
