.model.mbp
  height 210px
  width 340px
  position relative
  .lid
    margin 0 32px
    height 185px
    width 276px
    bg #fff
    border 1px solid #ccc
    border-radius 11px
    border-bottom none
    .screen
      margin 12px
      height 161px
      width 250px
      bg #eee;
      border 1px solid #ccc
      border-radius 2px
  .base, .bottom
    width 100%
  .base
    margin-top -2px
    height 6px
    background #fff
    border 1px solid #ccc
    border-bottom none
  .bottom
    height 4px
    background #fff
    border 1px solid #ccc
    border-top none
    border-radius 0 0 12px 12px

.model.mbp.tiny
  height 52px
  width 85px
  position relative
  .lid
    margin 0 8px
    height 46px
    width 69px
    bg #fff
    border 1px solid #ccc
    border-radius 5px
    border-bottom none
    .screen
      margin 3px
      height 39px
      width 61px
      bg #eee
      border 1px solid #ccc
      border-radius 0
  .base, .bottom
    width 100%
  .base
    margin-top -1px
    height 2px
    background #fff
    border 1px solid #ccc
    border-bottom none
  .bottom
    height 1px
    background #fff
    border 1px solid #ccc
    border-top none
    border-radius 0 0 3px 3px

.model.mbp.small
  height 105px
  width 170px
  position relative
  .lid
    margin 0 16px
    height 92px
    width 138px
    bg #fff
    border 1px solid #ccc
    border-radius 5px
    border-bottom none
    .screen
      margin 6px
      height 80px
      width 125px
      bg #eee;
      border 1px solid #ccc
  .base, .bottom
    width 100%
  .base
    margin-top -1px
    height 3px
    background #fff
    border 1px solid #ccc
    border-bottom none
  .bottom
    height 2px
    background #fff
    border 1px solid #ccc
    border-top none
    border-radius 0 0 6px 6px

.model.mbp.large
  height 420px
  width 440px
  position relative
  .lid
    margin-left 64px
    height 370px
    width 552px - 176px
    bg #fff
    border-radius 22px 0px 0px 22px
    border 1px solid #ccc
    border-right none
    .screen
      margin 24px 0px 24px 24px
      height 322px
      width 500px - 149px
      bg #eee
      border-radius 2px
      border 1px solid #ccc
      border-right none
  .base, .bottom
    width 100%
  .base
    margin-top -2px
    height 12px
    background #fff
    border 1px solid #ccc
    border-bottom none
    border-right none
  .bottom
    height 8px
    background #fff
    border-radius 0 0 0 24px
    border 1px solid #ccc
    border-top none
    border-right none

.model.mbp.max
  height 460px
  width 680px
  position relative
  .lid
    margin 0 64px
    height 370px
    width 552px
    bg #fff
    border 1px solid #ccc
    border-radius 20px
    border-bottom none
    .screen
      margin 24px
      height 322px
      width 500px
      bg #eee;
      border 1px solid #ccc
      border-radius 3px
  .base, .bottom
    width 100%
  .base
    margin-top -2px
    height 12pxpx
    background #fff
    border 1px solid #ccc
    border-bottom none
  .bottom
    height 8px
    background #fff
    border 1px solid #ccc
    border-top none
    border-radius 0 0 24px 24px
