.model.website
  height 240px
  width 180px
  bg #fff;
  border 1px solid #ccc
  border-radius 2px
  position relative;
  .toolbars
    background linear-gradient(top, #ebebeb, #b9b8b8)
    border-top  1px solid m242
    border-bottom  1px solid m144
    border-radius 2px 2px 0 0
    height 20px
    width 178px
    position relative
    ul.window-manip
      height 5px
      margin-left 2px
      li
        width 5px
        height 5px
        float left
        margin-right 2px
        border-radius 5px
        box-shadow inset b75 0 0 1px
        &.red
          background linear-gradient(top, #fbcfca, #fa5a55, #e0b2b1)
        &.yellow
          background linear-gradient(top, #fcf6cd, #f8c669, #f4e8b4)
        &.green
          background linear-gradient(top, #eef9dc, #9dd478, #d0dbb6)
    ul.browser-buttons
      clearfix()
      height 12px
      margin-left 2px
      margin-top 2px
      li
        float left
        margin-right 2px
        height 10px
        &.browser-button
          box-shadow inset m100 0 0 2px
          border-radius 2px
          background linear-gradient(top, m245, m195)
          width 10px
        &.back-forward
          width 20px
          position relative
          &:after 
            content ''
            display block
            position absolute
            top 1px
            left 10px
            height 8px
            width 1px
            background b15
        &.address
          border-radius 1px
          bg #fff
          width 115px
          padding 0 3px
          font 7px/10px Verdana, sans-serif
          color #333
          box-shadow inset b27 1px 1px 1px
  .view
    bg #fff
    border-radius 0 0 2px 2px
    height 218px
    width 178px

.model.website.tiny
  height 60px
  width 45px
  bg #fff
  border 1px solid #ccc
  border-radius 2px
  position relative
  .toolbars
    background #ccc
    border-top  1px solid m242
    border-bottom  1px solid m144
    border-radius 2px 2px 0 0
    height 5px
    width 43px
    position relative
    ul.window-manip,
    ul.browser-buttons
      display none
  .view
    bg #fff
    border-radius 0 0 2px 2px
    height 53px
    width 43px

.model.website.small
  height 120px
  width 90px
  bg #fff;
  border 1px solid #ccc
  border-radius 2px
  position relative;
  .toolbars
    background linear-gradient(top, #ebebeb, #b9b8b8)
    border-top  1px solid m242
    border-bottom  1px solid m144
    border-radius 2px 2px 0 0
    height 10px
    width 89px
    position relative
    ul.window-manip
      height 2px
      margin-left 1px
      li
        width 2px
        height 2px
        float left
        margin-right 1px
        border-radius 2px
        box-shadow inset b75 0 0 1px
        &.red
          background linear-gradient(top, #fbcfca, #fa5a55, #e0b2b1)
        &.yellow
          background linear-gradient(top, #fcf6cd, #f8c669, #f4e8b4)
        &.green
          background linear-gradient(top, #eef9dc, #9dd478, #d0dbb6)
    ul.browser-buttons
      clearfix()
      height 6px
      margin-left 1px
      margin-top 1px
      li
        float left
        margin-right 1px
        height 5px
        &.browser-button
          box-shadow inset m100 0 0 1px
          border-radius 1px
          background linear-gradient(top, m245, m195)
          width 5px
        &.back-forward
          width 10px
          position relative
          &:after 
            content ''
            display block
            position absolute
            top 1px
            left 5px
            height 3px
            width 1px
            background b15
        &.address
          border-radius 1px
          bg #fff
          width 58px
          padding 0 1px
          font 3px/6px Verdana, sans-serif
          color #333
          box-shadow inset b27 1px 1px 1px
  .view
    bg #fff
    border-radius 0 0 2px 2px
    height 108px
    width 88px

.model.website.large
  height 480px
  width 360px
  bg #fff;
  border 1px solid #ccc
  border-radius 4px
  position relative;
  .toolbars
    background linear-gradient(top, #ebebeb, #b9b8b8)
    border-top  1px solid m242
    border-bottom  1px solid m144
    border-radius 2px 2px 0 0
    height 38px
    width 358px
    position relative
    ul.window-manip
      height 10px
      margin-left 3px
      margin-top 2px
      li
        width 9px
        height 9px
        float left
        margin-right 4px
        border-radius 10px
        box-shadow inset #000 0 0 3px
        &.red
          background linear-gradient(top, #fbcfca, #fa5a55, #e0b2b1)
        &.yellow
          background linear-gradient(top, #fcf6cd, #f8c669, #f4e8b4)
        &.green
          background linear-gradient(top, #eef9dc, #9dd478, #d0dbb6)
    ul.browser-buttons
      clearfix()
      height 24px
      margin-left 4px
      margin-top 3px
      li
        float left
        margin-right 4px
        height 16px
        &.browser-button
          box-shadow inset m187 0 0 3px
          border-radius 4px
          background linear-gradient(top, m245, m195)
          width 16px
          border 1px solid m147
          box-shadow w35 0 1px 0
        &.back-forward
          width 33px
          position relative
          &:after 
            content ''
            display block
            position absolute
            top 1px
            left 15px
            height 12px
            width 1px
            background b20
        &.address
          border-radius 3px
          bg #fff
          width 252px
          padding 0 6px
          font 10px/16px Verdana, sans-serif
          color #333
          box-shadow inset b27 1px 1px 1px
  .view
    bg #fff
    border-radius 0 0 2px 2px
    height 438px
    width 358px
