.model.mbp
  height 210px
  width 340px
  position relative
  .lid
    margin 0 32px
    height 185px
    width 276px
    bg #fff
    border 1px solid #ccc
    border-radius 11px
    border-bottom none
    .screen
      margin 12px
      height 161px
      width 250px
      bg #eee;
      border 1px solid #ccc
      border-radius 2px
  .base, .bottom
    width 100%
  .base
    margin-top -2px
    height 6px
    background #fff
    border 1px solid #ccc
    border-bottom none
  .bottom
    height 4px
    background #fff
    border 1px solid #ccc
    border-top none
    border-radius 0 0 12px 12px

.model.mbp.large
  height 420px
  width 440px
  position relative
  .lid
    margin-left 64px
    height 370px
    width 552px - 176px
    bg #fff
    border-radius 22px 0px 0px 22px
    border 1px solid #ccc
    border-right none
    .screen
      margin 24px 0px 24px 24px
      height 322px
      width 500px - 149px
      bg #eee
      border-radius 2px
      border 1px solid #ccc
      border-right none
  .base, .bottom
    width 100%
  .base
    margin-top -2px
    height 12px
    background #fff
    border 1px solid #ccc
    border-bottom none
    border-right none
  .bottom
    height 8px
    background #fff
    border-radius 0 0 0 24px
    border 1px solid #ccc
    border-top none
    border-right none

.model.mbp.max
  height 460px
  width 680px
  position relative
  .lid
    margin 0 64px
    height 370px
    width 552px
    bg #fff
    border 1px solid #ccc
    border-radius 20px
    border-bottom none
    .screen
      margin 24px
      height 322px
      width 500px
      bg #eee;
      border 1px solid #ccc
      border-radius 3px
  .base, .bottom
    width 100%
  .base
    margin-top -2px
    height 12pxpx
    background #fff
    border 1px solid #ccc
    border-bottom none
  .bottom
    height 8px
    background #fff
    border 1px solid #ccc
    border-top none
    border-radius 0 0 24px 24px
