.sidebar-fixed
  width 320px
  float left
  min-height 100px
  padding-top 4em

  .sidebar-container
    padding-top 3em

    header
      margin-left 16px
      h4
        font 1.125em/2.666667 source
        color blue-medium
        margin-left .444444em

    ul
      margin-left 16px
      li
        width 240px - 16px
        border-top 1px solid blue-border
        a
          display block
          padding 0 .5em
          line-height 3em
          color dim
        &:hover a,
        &.active a
          font-weight bold
          color red
