sans = Helvetica Neue, Arial, Helvetica, sans-serif
source = Source Sans Pro, Helvetica Neue, Arial, Helvetica, sans-serif

body
  font 16px/1.5 sans
  color txt

blue-anchor()
  color blue-anchor

a
  text-decoration none
  color anchor

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6
  display block
  font-family Source Sans Pro, sans-serif
  color blue-dark

h1, .h1
  font-weight normal
  font-size 3em
  letter-spacing -1px

h2, .h2
  font-size 1.5em
  color blue-medium

h3, .h3
  font-size 1.25em

h4, .h4
  font 16px/1.5 Helvetica Neue, Arial, Helvetica, sans-serif

q:before, q:after
    content: "";

.italic
  font-style italic

.bold
  font-weight bold

p
  margin-bottom 1.5em
