header.site
  height 120px
  position relative
  bb 1px solid blue-border

a#logo
  d block
  float left
  margin 40px 10px
  width 160px
  height 40px

#tagline
  float left
  margin-top 46px
  margin-left -20px
  font-weight normal

header.site nav
  display none

header.site menu 
  margin-top 44px
  margin-right 10px
