body.about
  section
    h1
      text-align center
      margin 0 0 2em

    &.intro

      .team.img
        width 960px
        height 320px
        margin-bottom 3em
        line-height 320px

      header
        width 700px
        float left
        padding 0 4em 0 20px
        h1
          text-align left
          margin-bottom 1em
        p
          padding 0

      a.video
        float right
        margin-top 4em
        margin-right 20px

  .vcard
    margin-left 20px
    margin-bottom 3em
    &:nth-of-type(2n)
      margin-left 40px
