body.index
  height 100%
  .wrapper
    height 100%
  section
    border-bottom none

    header
      margin 0 auto 48px

    &.top
      padding-bottom 4em

    &.customer-logos
      border-top 1px solid #ddd
      width 1120px
      margin-left -80px
      img
        opacity .75
        margin 0 80px
        transition .15s ease-in-out all

body.index1
  section
    border-bottom 1px solid blue-border

  nav.case-nav
    mt 2em

  a.video
    margin-left -80px

  section.top
    padding-bottom 2em

  a.button
    display block
    margin 0 auto 4.5em
    width 320px

  section.article-summaries
    padding 0
    border-bottom none

  section.load-more
    border-bottom 1px solid blue-border
