body.index

  section.top
    border-bottom none

    header
      text-align center
      margin 0 auto 48px

body.index1

  nav.case-nav
    mt 2em

  section.top
    border-bottom 1px solid blue-border
    padding-bottom 2em
    header
      width 800px

    .content
      text-align center
      a.video
        margin 0 auto 4.5em

      .block
        padding 1em 2em
        width 400px
        margin 0 auto 48px
        a.button
          margin 0 0 .5em
          width 100%
        p
          color blue-medium
          border 1px solid blue-border
          margin 0
          padding .75em 1em

  section.article-summaries
    padding 0
    border-bottom none

  section.load-more
    border-bottom 1px solid blue-border
