body.index2,
body.index3

  section
    header
      text-align center
      width 720px
      margin 0 auto 48px
      h2
        padding 0 1em
    .content
      text-align center
      a.video
        margin 0 auto 3em
