body.legal

  section.top
    padding-top 4em

    header
      text-align center
      max-width 800px
      margin 0 auto 4em
      h1
        font-size 3.5em
        margin 0 auto
      h2
        margin-top .5em

    .content
      ul
        clearfix()
        margin-right 1.5em
        margin-bottom 1.5em
        li
          width 210px
          height 270px
          float left
          border 4px solid blue-border
          padding 1.75em 1em
          text-align center
          margin-left 1.5em
          h2
            border-bottom 1px solid blue-border
            margin 0 0 1em
            padding 0 0 1em
          p
            margin 0
      .img.table
        background blue-medium
        width 960px - 32px
        margin 0 16px
        height 400px
        font bold 3em/400px source
        color w50
