body.pricing
  display block

  section.top
    header
      margin-bottom 4em

  .plan
    float left
    margin 0 0 1.5em 1.5em
    border 4px solid blue-border
    transition .15s ease-in-out all
    clearfix()
    padding 0 1em
    width 280px
    &:hover
      border-color blue-dark

    div
      padding 32px 24px
      border-bottom 1px solid blue-border
      text-align center

      p
        font-family source
        color blue-medium
        margin 0
        line-height 1.25em

      &.title
        h2
          color blue-dark
          font-weight bold
          font-size 2em
          letter-spacing -1px
          line-height 1.125em
          margin 0 0 .5em

      &.cost
        d block
        font-family source

        .price
          display block
          color blue-dark
          font-size 3em
          color red

      &.action
        padding 2em 3em
        border none
        a
          width 100%
    &.enterprise
      .title
        h2
          line-height 2.25em
