#learn-more
  border-bottom 1px solid blue-border
  height 120px
  ul
    width 300px
    margin 3em auto
    li
      display inline-block
      line-height 2em
      ul.selector
        width 160px
        background #fff
        border 1px solid #ddd
        border-radius 5px
        li:not(:first-of-type)
          display none
