<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Scrive</title>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" media="print" href="css/print.css">
</head>

<body class="home">

  <header class="site">
    <div class="container">
      <a id="logo" href="index.html"><img src="../assets/img/logo320x80.png" width="160" height="40"></a>
      <div id="tagline" class="h3">Sign electronically</div>
      <div class="right">
        <nav>
          <ul>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
          </ul>
        </nav>
        <menu>
          <ul>
            <li><a href="#" class="button">Log in</a></li>
          </ul>
        </menu>
      </div>
    </div>
  </header>

  <div class="content site use-cases">
    <div class="panel nav">
      <div class="container clearfix">
        <h1>We solve all your e-signing needs.</h1>
        <h2>Select your use case to see our solution</h2>
        <nav>
          <ul>
            <li class="sign"><a href="use-cases.html">
              <div class="model ipad">
                <div class="camera"></div>
                <div class="screen"></div>
                <div class="home"><div class="circle"></div></div>
              </div>
              <h3>Sign on touch device</h3>
            </a></li>
            <li class="send"><a href="use-cases.html">
              <div class="model mbp">
                <div class="lid">
                  <div class="screen"></div>
                </div>
                <div class="base"></div>
                <div class="bottom"></div>
              </div>
              <h3>Send for signature</h3>
            </a></li>
            <li class="integrate"><a href="use-cases.html">
              <div class="model website">
                <div class="toolbars">
                  <ul class="window-manip">
                    <li class="red"></li>
                    <li class="yellow"></li>
                    <li class="green"></li>
                  </ul>
                  <ul class="browser-buttons">
                    <li class="browser-button back-forward"></li>
                    <li class="browser-button"></li>
                    <li class="browser-button"></li>
                    <li class="address">http://www.yoursite.com</li>
                    <li class="browser-button"></li>
                  </ul>
                </div>
                <div class="view">
                </div>
              </div>
              <h3>Integrate into website</h3>
            </a></li>
          </ul>
        </nav>
      </div><!--container-->
    </div><!--panel nav-->
  </div>

  <footer class="site">
    <div class="container">
      <ul class="call-to-action">
        <li><a href="#" class="button button-blue">Start free trial</a></li>
        <li class="or">or</li>
        <li><a class="learn-more" href="#">learn more &rsaquo;</a></li>
      </ul>
    </div>
  </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/index.js"></script>

</body>
</html>
