<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Scrive</title>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../assets/css/index.css">
  <link rel="stylesheet" media="print" href="css/print.css">
</head>

<body class="home">

  <header class="site">
    <div class="container">
      <a id="logo" href="index.html"><img src="../assets/img/logo160x40.png" width="160" height="40"></a>
      <div id="tagline" class="h3">Sign electronically</div>
      <div class="right">
        <nav>
          <ul>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
            <li><a href="#">Menu Item</a></li>
          </ul>
        </nav>
        <menu>
          <ul>
            <li><a href="#" class="button">Log in</a></li>
          </ul>
        </menu>
      </div>
    </div>
  </header>

  <div class="content site use-cases">
    <div class="panel tabs">
      <div class="container clearfix">
        <h1>The experience is branded with your logo and colors.</h1>
        <h2>Producing signed documents independently provable until the end of time</h2>
        <div class="tab-container">
          <ul class="tabs">
            <li class="tab" id="tab-sign" href="#tab-content-sign">Sign on touch device</a></li>
            <li class="tab active" id="tab-send" href="#tab-content-send" href="#">Send for signature</a></li>
            <li class="tab" id="tab-integrate" href="#tab-content-integrate">Integrate on webpage</a></li>
          </ul><!--tabs-->
          <ul class="tab-content">
            <li id ="tab-content-sign" class="tab-content">
              <ol>
                <li class="step select-template">
                  <div class="num">1</div>
                  <div class="left">
                    <h3>Select template</h3>
                    <p>You can add a picture and a description if you'd like to.</p>
                    <div class="event"><p>Step one event shown here.</p></div>
                  </div>
                </li>
                <li class="step edit-fields">
                  <div class="num">2</div>
                  <div class="left">
                    <h3>Edit fields and sign</h3>
                    <p>If you don't have a reader, simply enter card details manually</p>
                    <div class="event"><p>Step two event shown here.</p></div>
                  </div>
                </li>
                <li class="step seal-document">
                  <div class="num">3</div>
                  <div class="left">
                    <h3>Scrive seals the document and sends by email</h3>
                    <p>Your customer signs with their finger straight on the screen.</p>
                    <div class="event"><p>Step three event shown here.</p></div>
                  </div>
                </li>
                <li class="video">
                  <div class="video">Play</div>
                  <div class="left">
                    <h4>Watch the Peace &amp; Love case video</h4>
                    <p>&ldquo;<q>It's the most amazing system in the world. We absolutely love working with Scrive.</q>&rdquo;</p>
                  </div>
                </li>
              </ol>
              <div class="model ipad large">
                <div class="camera"></div>
                <div class="screen"></div>
                <div class="home"><div class="circle"></div></div>
              </div>
            </li><!--tab-content-sign-->
            <li id ="tab-content-send" class="tab-content active">
              <ol>
                <li class="step">
                  <div class="num">1</div>
                  <div class="left">
                    <h3>Send: step one</h3>
                    <p>Placeholder text</p>
                    <div class="event"><p>Step one event shown here.</p></div>
                  </div>
                </li>
                <li class="step">
                  <div class="num">2</div>
                  <div class="left">
                    <h3>Edit fields and sign</h3>
                    <p>Placeholder text</p>
                    <div class="event"><p>Step two event shown here.</p></div>
                  </div>
                </li>
                <li class="step">
                  <div class="num">3</div>
                  <div class="left">
                    <h3>Send: step three</h3>
                    <p>Placeholder text</p>
                    <div class="event"><p>Step three event shown here.</p></div>
                  </div>
                </li>
                <li class="video">
                  <div class="video">Play</div>
                  <div class="left">
                    <h4>Send: video</h4>
                    <p>&ldquo;<q>Customer quote.</q>&rdquo;</p>
                  </div>
                </li>
              </ol>
              <div class="model mbp large">
                <div class="lid">
                  <div class="screen"></div>
                </div>
                <div class="base"></div>
                <div class="bottom"></div>
              </div>
            </li><!--tab-content-send-->
            <li id ="tab-content-integrate" class="tab-content">
              <ol>
                <li class="step">
                  <div class="num">1</div>
                  <div class="left">
                    <h3>Integrate: step one</h3>
                    <p>Placeholder text</p>
                    <div class="event"><p>Step one event shown here.</p></div>
                  </div>
                </li>
                <li class="step">
                  <div class="num">2</div>
                  <div class="left">
                    <h3>Integrate: step two</h3>
                    <p>Placeholder text</p>
                    <div class="event"><p>Step two event shown here.</p></div>
                  </div>
                </li>
                <li class="step">
                  <div class="num">3</div>
                  <div class="left">
                    <h3>Integrate: step three</h3>
                    <p>Placeholder text</p>
                    <div class="event"><p>Step three event shown here.</p></div>
                  </div>
                </li>
                <li class="video">
                  <div class="video">Play</div>
                  <div class="left">
                    <h4>Integrate: video</h4>
                    <p>&ldquo;<q>Customer quote.</q>&rdquo;</p>
                  </div>
                </li>
              </ol>
              <div class="model website large">
                <div class="toolbars">
                  <ul class="window-manip">
                    <li class="red"></li>
                    <li class="yellow"></li>
                    <li class="green"></li>
                  </ul>
                  <ul class="browser-buttons">
                    <li class="browser-button back-forward"></li>
                    <li class="browser-button"></li>
                    <li class="browser-button"></li>
                    <li class="address">http://www.your-awesome-site.com</li>
                    <li class="browser-button"></li>
                  </ul>
                </div>
                <div class="view">
                </div>
              </div>
            </li>
          <ul><!--tab-content-->
        </div><!--tab-container-->
      </div>
    </div>
  </div>

  <footer class="site">
    <div class="container">
      <ul class="call-to-action">
        <li><a href="#" class="button button-blue">Start free trial</a></li>
        <li class="or">or</li>
        <li><a class="learn-more" href="#">learn more &rsaquo;</a></li>
      </ul>
    </div>
  </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="../assets/js/index.js"></script>
  <script src="../assets/js/index.js"></script>

</body>
</html>
