.media
  clearfix()
  width 440px
  float left

  img
    width 120px
    height 120px
    float left

  .content
    float left
    padding-left 1em
    width 320px

    h3
      line-height 1.25em
      font-weight bold

    .subheading, .body
      font-size 14px

    .subheading
      color blue-medium

    .body
      margin-top .5em
      color dim
      p
        margin 0

    .links
      font-size 14px
      clearfix()
      li
        float left
        width 128px
        a
          color light
          &:hover
            text-decoration underline
            color anchor

@import "video"
