.media
  clearfix()
  width 640px
  float left

  img, .img
    width 120px
    height 120px
    float left
    line-height 120px

  .content
    float left
    padding-left 1.5em
    width 520px

    h3
      line-height 1.5em
      font-size 1.5em

    .subheading, .body
      display block

    .subheading
      color blue-medium

    .body
      margin .5em 0
      color txt
      p
        margin 0

    .links
      clearfix()
      li
        float left
        width 128px
        a
          color light
          &:hover
            text-decoration underline
            color anchor

@import "video"
@import "vcard"
@import "article-summary"
