<div id="call-to-action">
  <div class="container">
    <ul>
      <li><a href="#" class="button button-blue">Start free trial</a></li>
      <li class="or">or</li>
      <li><a class="learn-more" href="learn-more.html">learn more &rsaquo;</a></li>
    </ul>
  </div>
</div>
