<nav class="case-nav tiny">
  <ul>
    <li><a href="index1.html" class="active">
      <%= render 'media/ipad.html.erb', :locals => { :size => 'tiny' } %>
      <span class="h3">Sign on touch device &rsaquo;</span>
    </a></li>
    <li><a href="index1.html">
      <%= render 'media/mbp.html.erb', :locals => { :size => 'tiny' } %>
      <span class="h3">Send for signature &rsaquo;</span>
    </a></li>
    <li><a href="index1.html">
      <%= render 'media/website.html.erb', :locals => { :size => 'tiny' } %>
      <span class="h3">Integrate into website &rsaquo;</span>
    </a></li>
  </ul>
</nav>
