<form>
  <header>
    <p>Pay by credit card. There&rsquo;s a 14-day money back guarantee.</p>
  </header>
  <ul class="fields">
    <li class="field">
      <label for="input-first-name">First Name</label>
      <div class="input">
        <input type="text" id="input-first-name" placeholder="First">
      </div>
    </li>
    <li class="field">
      <label for="input-last-name">Last Name</label>
      <div class="input">
        <input type="text" id="input-last-name" placeholder="Last">
      </div>
    </li>
    <li class="field">
      <label for="input-email">Email</label>
      <div class="input">
        <input type="email" id="input-email" placeholder="you@company.com">
      </div>
    </li>
    <li class="field">
      <label for="input-cc">Credit Card Number</label>
      <div class="input">
        <input type="number" id="input-cc" placeholder="0000 0000 0000 0000" min="1" max="999999999999">
      </div>
    </li>
    <li class="field">
      <label for="input-cc-month">Card Expiration</label>
      <div class="input">
        <select id="input-cc-month">
          <option>01</option>
          <option>02</option>
          <option>03</option>
          <option>04</option>
          <option>05</option>
          <option>06</option>
          <option>07</option>
          <option>08</option>
          <option>09</option>
          <option>10</option>
        </select>
        <select id="input-cc-year">
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
        </select>
      </div>
    </li>
    <li class="field">
      <label for="input-ccv">CVV</label>
      <div class="input">
        <input type="number" id="input-cvv" placeholder="000" min="0" max="999">
      </div>
    <li class="field submit">
      <div class="input">
        <input type="submit" id="input-submit" class="button button-blue" value="Subscribe &rsaquo;">
      </div>
    </li>
  </ul>
</form>
