<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Scrive</title>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,200italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/index.css">
</head>

<body class="<%= body_class rescue '' %>" data-spy="scroll" data-target="#navbar" data-offset="100">
<div id="top"></div>
