<header class="site">
  <nav>
    <ul>
      <li id="branding">
        <a id="logo" href="index.html"><img src="img/logo960.png" width="120" height="22"></a>
        <div id="tagline" class="h3">Sign electronically</div>
      </li>
      <li><a id="page-features" href="features.html">Features</a></li>
      <li><a id="page-pricing" href="pricing.html">Pricing</a></li>
      <li><a id="page-legal" href="legal.html">Legal</a></li>
      <li><a id="page-cases" href="cases.html">Cases</a></li>
      <li><a id="page-about" href="about.html">About</a></li>
      <li><a id="page-contact" href="contact.html">Contact</a></li>
      <li class="login"><a class="button-embed" href="login.html">Log In</a></li>
    </ul>
  </nav>
</header>

<div class="wrapper">
