<header class="site">
  <div class="container">
    <a id="logo" href="index.html"><img src="img/logo320x80.png" width="160" height="40"></a>
    <div id="tagline" class="h3">Sign electronically</div>
    <div class="right">
      <nav>
        <ul>
          <li><a href="#">Menu Item</a></li>
          <li><a href="#">Menu Item</a></li>
          <li><a href="#">Menu Item</a></li>
          <li><a href="#">Menu Item</a></li>
          <li><a href="#">Menu Item</a></li>
        </ul>
      </nav>
      <menu>
        <ul>
          <li><a href="#" class="button">Log in</a></li>
        </ul>
      </menu>
    </div>
  </div>
</header>
