<div id="learn-more">
  <div class="container">
    <ul>
      <li><h2>Scroll down and learn more about</h2></li>
      <li>
        <ul class="selector">
          <li><a href="#">All 3 services</a></li>
          <li><a href="#">Sign on touch device</a></li>
          <li><a href="#">Sendifor signature</a></li>
          <li><a href="#">Integrate on webpage</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
