<div id="learn-more">
  <div class="container">
    <span class="h2">Scroll down and learn more about</span>
    <ul class="select w200">
      <li class="option active">All 3 services</li>
      <li class="option">Sign on touch device</li>
      <li class="option">Send ifor signature</li>
      <li class="option">Integrate on webpage</li>
    </ul>
  </div>
</div>
