<section class="simple" id="learn-more">
  <ul>
    <li class="h2">Scroll down and learn more about</li>
    <li class="select">
      <ul class="select w200">
        <li class="option active">All 3 services</li>
        <li class="option">Sign on touch device</li>
        <li class="option">Send ifor signature</li>
        <li class="option">Integrate on webpage</li>
      </ul>
    </li>
</section>
