<section class="top">
  <header>
    <h1 class="big">&ldquo;<q>The experience is branded with your logo and colors.</q>&rdquo;</h1>
    <h2>&mdash;Satisfied Client, CEO of Their Company</h2>
  </header>
  <div class="content">
    <div class="block">
      <a href="pricing.html" class="button button-blue button-large">Sign test contract now</a>
      <p>You&rsquo;ll be up and running in under a minute. Learn why &ldquo;This Company&rdquo; trusts us to handle their e-signatures.</p>
    </div>
    <%= render 'media/case-video.html.erb', :locals => { :title => "Use case video"} %>
  </div>
  <%= render 'partial/case-nav-tiny.html.erb' %>
</section>
