<section class="top">
  <header>
    <h1 class="big">We solve all your e-signing needs.</h1>
    <h2 class="big">Select your use case to see our solution.</h2>
  </header>
  <nav class="case-nav">
    <ul>
      <li class="sign"><a href="index1.html">
        <%= render 'media/ipad.html.erb'  %>
        <h3>Sign on touch device &rsaquo;</h3>
      </a></li>
      <li class="send"><a href="index1.html">
        <%= render 'media/mbp.html.erb' %>
        <h3>Send for signature &rsaquo;</h3>
      </a></li>
      <li class="integrate"><a href="index1.html">
        <%= render 'media/website.html.erb' %>
        <h3>Integrate into website &rsaquo;</h3>
      </a></li>
    </ul>
  </nav>
</section>
