<%= render 'media/case-video-big.html.erb' %>

<section class="top">
  <header>
    <h1 class="big">&ldquo;<q>The experience is branded with your logo and colors.</q>&rdquo;</h1>
    <h2>&mdash;Satisfied Client, CEO of Their Company</h2>
  </header>
    <a href="pricing.html" class="button button-blue button-large">
      <p>Sign test contract now</p>
      <small>to get a live experience </small>
    </a>
  <%= render 'partial/case-nav-tiny.html.erb' %>
</section>
