<section class="trail">
  <div class="left">
    <h2>
      <a href="features.html">Features</a>
      <span class="rsaquo">&rsaquo;</span>
      <a href="features.html#feature-integration">Integration</a>
    </h2>
  </div>
  <form class="right">
    <ul class="select">
      <li class="option">Search</li>
      <li class="option">Instant</li>
      <li class="option">Results</li>
      <li class="option">Show Up</li>
      <li class="option">Here</li>
    </ul>
  </form>
</section>
