<section class="simple">
  <ul>
    <li><a href="#" class="button button-blue">Start free trial</a></li>
    <li>or <a class="learn-more" href="learn-more.html">learn more &rsaquo;</a></li>
  </ul>
</section>
