<section class="signup">
  <header>
    <h1>Select your use case. Start right away.</h1>
  </header>
  <nav>
    <ul>
      <li><a href="pricing.html">
        <span class="label">Sign on touch device &rsaquo;</span>
      </a></li>
      <li><a href="pricing.html">
        <span class="label">Send for signature &rsaquo;</span>
      </a></li>
      <li><a href="pricing.html">
        <span class="label">Integrate into website &rsaquo;</span>
      </a></li>
    </ul>
  </nav>
</section>
