<section>
  <article class="case summary">
    <div class="img">Case Image</div>
    <div class="content">
      <h1><%= title rescue '' %></h1>
      <div class="body">
        <p class="bold">Scrive grundades av Lukas Duczko och Gracjan Polak som lärde känna varandra under sin tid på kreditbolaget Klarna.</p>
        <p>Scrive är en tjänst för att e-signera offerter, avtal och andra typer av dokument. Vi hjälper våra kunder att stänga affärer snabbare, minska den administrativa bördan och samtidigt förbättra.</p>
      </div>
      <nav>
        <ul class="icons">
          <li>
            <a href="article.html">
              <div class="img icon">icon</div>
              <span class="label">Read More</span>
            </a>
          </li>
          <li>
            <a href="article.html">
              <div class="img icon">icon</div>
              <span class="label">Download PDF</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </article>
</section>

