<section class="top">
  <header>
    <h1 class="big">The experience is branded with your logo and colors.</h1>
    <h2 class="big">Producing signed documents independently provable until the end of time</h2>
  </header>
  <div class="content">
    <%= render 'media/case-video.html.erb', :locals => { :title => "Use case video"} %>
    <a href="#" class="button button-blue button-large">Try the demo now</a>
  </div>
</section>
