<section class="signup">
  <header>
    <h1>Select your use case. Start right away.</h1>
  </header>
  <nav class="case-nav small">
    <ul>
      <li><a href="pricing.html">
        <%= render 'media/ipad.html.erb', :locals => { :size => 'small' } %>
        <span class="h3">Sign on touch device &rsaquo;</span>
      </a></li>
      <li><a href="pricing.html">
        <%= render 'media/mbp.html.erb', :locals => { :size => 'small' } %>
        <span class="h3">Send for signature &rsaquo;</span>
      </a></li>
      <li><a href="pricing.html">
        <%= render 'media/website.html.erb', :locals => { :size => 'small' } %>
        <span class="h3">Integrate into website &rsaquo;</span>
      </a></li>
    </ul>
  </nav>
</section>
