<div class="panel nav">
  <div class="container clearfix">
    <h1>We solve all your e-signing needs.</h1>
    <h2>Select your use case to see our solution</h2>
    <nav>
      <ul>
        <li class="sign"><a href="index2.html">
          <div class="model ipad">
            <div class="camera"></div>
            <div class="screen"></div>
            <div class="index"><div class="circle"></div></div>
          </div>
          <h3>Sign on touch device</h3>
        </a></li>
        <li class="send"><a href="index2.html">
          <div class="model mbp">
            <div class="lid">
              <div class="screen"></div>
            </div>
            <div class="base"></div>
            <div class="bottom"></div>
          </div>
          <h3>Send for signature</h3>
        </a></li>
        <li class="integrate"><a href="index2.html">
          <div class="model website">
            <div class="toolbars">
              <ul class="window-manip">
                <li class="red"></li>
                <li class="yellow"></li>
                <li class="green"></li>
              </ul>
              <ul class="browser-buttons">
                <li class="browser-button back-forward"></li>
                <li class="browser-button"></li>
                <li class="browser-button"></li>
                <li class="address">http://www.yoursite.com</li>
                <li class="browser-button"></li>
              </ul>
            </div>
            <div class="view">
            </div>
          </div>
          <h3>Integrate into website</h3>
        </a></li>
      </ul>
    </nav>
  </div><!--container-->
</div><!--panel nav-->
